@import url('https://fonts.googleapis.com/css?family=Lato');

html {
	font-family: sans-serif;
	background-color: #f4f4f4;
}

body {
	margin: 0;
}

p {
	font-family: 'Lato', sans-serif;
	line-height: 1.7em;
}

@keyframes appear {
	from {opacity: 0;}
	to {opacity: 1;}
}

h1 {
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 3em;
	text-align: center;
	color: black;
}

a {
	text-decoration: none;
	color: black;
}

#header {
	background: url('../images/background.jpg') fixed center;
	background-size: cover;
	-webkit-text-fill-color: rgba(44, 44, 44, .7);
	-webkit-background-clip: text;
	animation: appear 1s;
	animation-play-state: running;
	overflow: hidden;
}

#loadingsplash {
	opacity: 1;
	background-color: linear-gradient(rgba(244,244,244,.7),rgba(244,244,244,.95));
	animation-play-state: paused;
	width: 100%;
	height: 100vh;
	display: inline-block;
	vertical-align: middle;
	color: black;
	transition: color 1s ease;
}

#loadingheader {
	animation-play-state: paused;
	transition: all 1s ease;
}

h2 {
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 2.5em;
	text-align: center;
	-webkit-text-stroke: 1.5px black;
	color: transparent;
}

#splash {
	width: 100%;
	height: 100vh;
	display: inline-block;
	vertical-align: middle;
	background: linear-gradient(rgba(244,244,244,.7),rgba(244,244,244,.95)), url('../images/background.jpg') fixed center;
	background-size: cover;
	color: black;
	animation: appear 2s;
	animation-play-state: running;
}

.unactive {
	display: none;
}

.btn {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	border: solid black 1px;
	transition: all .3s ease;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: 5.2em;
	line-height: 35px;
	z-index: 2;
}

.btnleft {
	left: calc(20% - 80px);
}

.btnright {
	right: calc(20% - 80px);
}

.btn:hover {
	background-color: white;
}

.btnleft::after {
	content: "\276E";
	position: relative;
	font-size: 25px;
	left: 10px;
	background-color: transparent;
	color: transparent;
	transition: all .3s ease;
	-webkit-text-stroke: 1px black;
}

.btnright::after {
	content: "\276F";
	position: relative;
	font-size: 25px;
	left: 12px;
	background-color: transparent;
	color: transparent;
	transition: all .3s ease;
	-webkit-text-stroke: 1px black;
}

.btnright:hover::after, .btnleft:hover::after {
	color: white;
	-webkit-text-stroke: none;
}

#projects {
	overflow: hidden;
	position: relative;
}

#projects img {
	max-width: 100%;
	max-height: 300px;
	display: inline-block;
	box-shadow: 1px 1px 10px black;
	border-radius: 2px;
}

.animatedslider {
	width: 0px;
	height: 10000px;
	transform: rotate(30deg);
	background-color: rgba(40, 40, 40, 1);
	top: -5350px;
	left: -300px;
	display: block;
	position: absolute;
	z-index: 1;
	transition: all .8s ease;
	overflow: hidden;
}

#projectheader {
	z-index: 2;
	-webkit-text-stroke: 1.5px black;
}

.page {
	position: relative;
	transition: left .3s ease;
}

#about {
	overflow: hidden;
}

#contact {
	background-color: #48494b;
	overflow: hidden;
}

footer {
	background-color: #3b3d40;
	overflow: hidden;
}

footer a {
	color: #c6c6c6;
	text-decoration: none;
}

.text {
	padding: 3em 20% 3em;
}

.dark {
	color: rgb(244, 244, 244);
}

.dark h2 {
	-webkit-text-stroke: 1.5px rgb(244, 244, 244);
}

#profile {
	border-radius: 50%;
	height: 170px;
	width: 170px;
	float: right;
	display: inline;
	margin: 10px;
	border: solid black 1px;
	box-shadow: 1px 1px 10px black;
}

.headline {
	text-align: center;
	margin-top: 50vh;
}

.navbar {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	list-style-type: none;
	color: black;
	z-index: 1;
}

#loadingnav a {
	color: inherit;
}

.navbar ul {
	padding: 0;
	margin: 0;
}

.navbar li {
	display: inline;
	padding: 0 5% 0;
}

.navbar li:first-child {
	padding-left: 0;
}

.navbar li:last-child {
	padding-right: 0;
}

.navbar a {
	text-decoration: none;
	display: inline-block;
	padding: 20px;
	transition: text-shadow 0.2s ease;
	font-size: 20px;
	color: white;
}

.navbar a:hover {
	text-shadow: 1px 1px 10px black;
}

.list-horizontal{
    padding-left: 0px;
}

.list-horizontal li {
	display: inline-block;
}

.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color: black;
	font-size: 12px;
}

#loadingsplash .list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color: black;
	font-size: 12px;
}

.list-horizontal li:first-child:before {
	content: '';
}

#loadingsplash .list-horizontal li:first-child:before {
	content: '';
}

input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border-radius: 50px;
	padding: 14px;
	width: calc(100% - 28px);
	font-size: 18px;
	margin: 10px 0px 10px;
	border: solid black 1px;
}

textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: inherit;
	border-radius: 20px;
	border: none;
	padding: 14px;
	width: calc(100% - 28px);
	font-size: 18px;
	margin: 10px 0px 10px;
	height: 100px;
	resize: none;
	border: solid black 1px;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 50px;
	border: solid rgb(244, 244, 244) 1px;
	padding: 14px;
	font-size: 18px;
	color: rgb(244, 244, 244);
	background-color: transparent;
	transition: 0.3s ease;
	display: block;
	margin-top: 10px;
}

button:hover {
	background-color: rgb(244, 244, 244);;
	color: #3b3d40;
}


input[type=radio] {
	-webkit-appearance: none;
	background-color: rgb(244, 244, 244);
	border-radius: 50%;
	margin: 5px 10px 5px 0px;
	width: 38px;
	height: 38px;
	border: solid black 1px;
}

input[type=radio]::after {
	content: '';
	position: relative;
	display: block;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: rgba(14, 14, 14, 0);
	left: 19px;
	top: 19px;
	transition: all .3s ease;
}

input[type=radio]:hover::after {
	width: 32px;
	height: 32px;
	left: 2px;
	top: 2px;
	background-color: rgba(14, 14, 14, .5);
}

input[type=radio]:checked::after {
	width: 28px;
	height: 28px;
	left: 4px;
	top: 4px;
	background-color: rgba(14, 14, 14, .95);
}

.radio {
	display: block;
}

label {
	display: table;
}

label p {
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
}

.footertext {
	color: #c6c6c6;
	font-size: 10pt;
	display: inline-block;
}

.right {
	float: right;
}

.break {
	height: 7px;
	display: block;
}

@media only screen and (max-width: 650px) {
	body {
		margin: 0;
	}

	#profile {
		float: none;
		display: block;
		margin: 0 auto;
	}

	.text {
		padding: 3em 10% 3em;
		vertical-align: middle;
	}

	input {
		max-width: 100%;
	}

	.navbar {
		display: none;
	}

	.footertext {
		float: none;
		display: block;
	}

	.break {
		height: 0;
	}

	.btnleft {
		left: 10%;
	}

	.btnright {
		right: 10%;
	}

}

@media only screen and (max-width: 500px) {
	.btn {
		position: initial;
		margin: 0 auto;
	}
}

@supports(mix-blend-mode:difference) {
	.btn {
		border: solid white 1px;
		mix-blend-mode: difference;
	}

	.btnleft::after {
		-webkit-text-stroke: 1px white;
	}

	.btnright::after {
		-webkit-text-stroke: 1px white;
	}

	.btnright:hover::after, .btnleft:hover::after {
		color: black;
	}

	#projectheader {
		position: relative;
		mix-blend-mode: difference;
		z-index: 2;
		-webkit-text-stroke: 1.5px white;
	}
}
