@import url('https://fonts.googleapis.com/css?family=Lato');

html {
	font-family: sans-serif;
	background-color: rgb(244, 244, 244);
}

body {
	margin: 0;
	line-height: 1.7em;
}

h1 {
	font-weight: 900;
	letter-spacing: 1px;
    font-size: 3em;
    text-align: center;
}

h2 {
	font-weight: 900;
	letter-spacing: 1px;
    font-size: 2.5em;
    text-align: center;
}

.splash {
	width: 100vw;
	height: 100vh;
	display: inline-block;
	vertical-align: middle;
}

.projects {
	background-color: #d6d6d6;
	padding: 3em 20% 3em;
}

.about {
	padding: 3em 20% 3em;
	display: inline-block;
}

#profile {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	float: right;
	display: inline;
	margin: 10px;
}

.headline {
	text-align: center;
	margin-top: 50vh;
}

.navbar {
	text-align: center;
	display: block;
	width: 100vw;
	position: fixed;
	list-style-type: none;
	background-color: rgb(244, 244, 244);
}

.navbar li {
	display: inline;
	padding: 0 10% 0;
}

.navbar li:first-child {
	padding-left: 0;
}

.navbar li:last-child {
	padding-right: 0;
}

.list-horizontal{
    padding-left: 0px;
}

.list-horizontal li {
	display: inline-block;
}

.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color: #FFF;
	color: rgb(0, 0, 0);
	font-size: 11px;
}

.list-horizontal li:first-child:before {
	content: '';
}

@media only screen and (max-width: 600px) {
	.heading {
		width: 100%;
		padding: 0;
		border-radius: 0px;
		min-width: 0;
	}

	body {
		margin: 0;
	}

	#profile {
		float: none;
		display: block;
		margin: 0 auto;
	}
}